body {
  margin: 0;
  background-color: lightblue;
  text-align: center;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; /*Adjust spacing between lines */
  text-align: justify; /*Align paragraphs on both lines*/
  text-indent: 30px
  margin: 15px 0;
}  
