body {
  margin: 0;
  background-color: lightblue;
  text-align: center;
}

.narrative {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.narrative p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; /*Adjust spacing between lines */
  text-align: justify; /*Align paragraphs on both lines*/
  text-indent: 30px;
  margin-bottom: 15px;
}  

.narrative img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
